<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learn to play like the Swingbop'ers</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>The style of the Swingbop'ers</h1>
            <h2>Dear student,</h2>
            <h3>The secret repertoire of the great Swingbop'ers that you dreamed to learn is now available for you !! </h3>
            <br>
            
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Besame Mucho</h2>
                    <p class="lead"><a href="https://www.youtube.com/watch?v=mP7hDZzuQ90">Oscar Aleman Version</a> <br>
                            Cm      |% |Fm|%<br>
                            Dm7b5|G7|Cm|%<br>
                            D7       | %|Fm|%<br>
                            Dm7b5|G7|Cm|% <br>

                            #changement de tonalite vers Gm<br>
                            Gm      |% |Cm|%<br>
                            Am7b5|D7|Gm|%<br>
                            G7       | %|Cm|%<br>
                            A7        |%|D7 |%<br>

                            Gm      |% |Cm|%<br>
                            Am7b5|D7|Gm|%<br>
                            G7       | %|Cm|%<br>
                            Am7b5 |D7|Gm|%<br>

                            Cm|Gm|D7|Gm<br>
                            Cm|Gm|A7|D7<br>

                            Gm      |% |Cm|%<br>
                            Am7b5|D7|Gm|%<br>
                            G7       | %|Cm|%<br>
                            Am7b5 |D7|Gm|%</p><br>
                    <h2>Call the Police</h2>
                    <p class="lead"><a href="https://www.youtube.com/watch?v=lOjhAqY_bEs">Nat King Cole Version</a> <br>
                            Db|Bbm|Ebm| Ab7<br>
                            Db|Bbm|Ebm| Ab7<br>
                            Db|Db7 |Gb  | G°<br>
                            Db|Bbm|Ebm| Ab7<br>

                            Db|Bbm|Ebm| Ab7<br>
                            Db|Bbm|Ebm| Ab7<br>
                            Db|Db7 |Gb  | G°<br>
                            Db|Bbm|Ebm| Ab7<br>

                            Fm|C7|Ab69|C7<br>
                            Fm|C7|Ab69|C7<br>
                            Fm|C7|Ab69|C7<br>
                            Fm|C7|Ab69|Ab7<br>

                            Db|Bbm|Ebm| Ab7<br>
                            Db|Bbm|Ebm| Ab7<br>
                            Db|Db7 |Gb  | G°<br>
                            Db|Bbm|Ebm| Ab7<br>

                    <h2>oop bop sh'bam</h2>
                    <p class="lead"><a href="https://www.youtube.com/watch?v=JHqXuGua8Gg">Charlie Parker Version</a> <br>
                           (2/4)<br>

                           
                             Bb | B° | Cm | F7 <br>
                            Bb | Ab7 | Dd7 | B7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7 <br>

                            Bb | B° | Cm | F7 <br>
                            Bb | Ab7 | Dd7 | B7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7 <br>

                            (4/4)<br>

                            Fm | Bb7 | Eb | Eb <br>
                            Gm | C7 | Cm | F7 <br>


                            (2/4)<br>
                            Bb | B° | Cm | F7 <br>
                            Bb | Ab7 | Dd7 | B7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7 <br>

                            <h2>Free Eats</h2>
                    <p class="lead"><a href="https://www.youtube.com/watch?v=VSDw9j9LyL8">Count Basy Version</a> <br>
                            (2/4)

                            Bb | B° | Cm | F7 <br>
                            Bb | B° | Cm | F7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7<br>

                            Bb | B° | Cm | F7 <br>
                            Bb | B° | Cm | F7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7<br>

                            (4/4)<br>
                            D7|%|G7|%<br>
                            C7|%|F7|%<br>

                            (2/4)<br>
                            Bb | B° | Cm | F7<br> 
                            Bb | B° | Cm | F7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7<br>

                              <h2>Popety pop</h2>
                    <p class="lead"><a href="https://www.youtube.com/watch?v=aiEPRHxCbQk‚">Slim Gaillard Version</a> <br>
                            (2/4)

                            Bb | B° | Cm | F7 <br>
                            Bb | B° | Cm | F7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7<br>

                            Bb | B° | Cm | F7 <br>
                            Bb | B° | Cm | F7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7<br>

                            (4/4)<br>
                            D7|%|G7|%<br>
                            C7|%|F7|%<br>

                            (2/4)<br>
                            Bb | B° | Cm | F7<br> 
                            Bb | B° | Cm | F7 <br>
                            Bb | Bb7 | Eb | E°<br>
                            Bb | B° | Cm | F7<br>


                            (more coming soon)


                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    

    

   

    <!-- Map -->
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Swingbop'ers</strong>
                    </h4>
                    
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> 01765566997</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:swingbopers@gmail.com">write us here !</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/swingbopers?ref=bookmarks"><i class="fa fa-facebook fa-fw fa-3x"></i>Facebook</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Publika 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
