<div id="main_content">
         <div id="page_wrapper">
                   <p id="notice"><%= notice %></p>

						<h1>Editing Song</h1>

						<%= render 'form' %><br>


						<%= link_to "Show", @post, :id => "posts", :class => "button" %>
						<%= link_to "Back", posts_path, :id => "posts", :class => "button" %>
						
       		    
         </div>
</div>